.pageTitle {
    width: 1077px;
    height: 35px;
    flex-grow: 0;
    padding: 12px 825px 11px 20px;
    border-radius: 5px;
    background-color: var(--white);
    }

.detailHeader {
  width: 1217px;
  height: 35px;
  flex-grow: 0;
  padding: 44px 71px 15px 69px;
  background-color: var(--grey-background);
}