.button{
    background-color: var(--color-primary);
    border-radius: 6px;
    border-color: var(--white);
    color: var(--white);
    height: 46px;
    font-family: Quicksand;
    font-size: 0.900rem;
}