.button{
    margin-top: 40px;
    background-color: var(--color-primary);
    border-radius: 6px;
    border-color: var(--white);
    color: var(--white);
    width: 30%;
    height: 46px;
    font-family: Quicksand;
    font-size: 18px;
}