.textarea {
    width: inherit;
    height: 7.75rem;
    font: inherit;
    letter-spacing: 1px;
    padding: inherit;
    line-height: 1.5;
    border: 1px solid white;
    box-shadow: 1px 1px 1px transparent;
}
