body{
    color: f9fafb;
}
.main{
    color: f9fafb;
    margin: 0 4rem 0 4rem;
}
h2{
    color: black; 
}
.cartForm{
    margin: 2.5rem 0 2.5rem 0;
    width: 18rem;
}
.image_container{
    width: 50%;
    margin: auto;
  }