body{
    color: f9fafb;
}
.main{
    color: f9fafb;
    margin: 0 4rem 0 4rem;
}
h2{
    color: black; 
}
.cartForm{
    margin: 40px 0 40px 0;
}
.image_container{
    width: 50%;
    margin: auto;
  }