.registeruser{
    display: grid;
    grid-template-columns: 45rem;
    box-sizing: border-box;
    min-width: 320px;
}
.boxes{
    height: 46px;
    margin: 3rem 0 3rem 0;
    padding: 12px 67.3px 11px 25px;
    border-radius: 5px;
}

:placeholder-shown{
    height: 2.87rem;
    width: 21.68rem;    
    margin: 1rem 0 1rem 0 ;
    padding: 0 0 0 1rem;
    border-radius: 5px;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;


}
.privacy{
    display:flex;
}
.accept{
    display: flex;
}
button{
    background-color:  #dc2626;
    margin: 40px 0 0 2px;
    padding: 11px 36.6px 12px 45.7px;
    border-radius: 5px;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style:normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: white;
}



