.comment{
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    gap: 1rem;
    margin: 1.25rem;
}
.button{
    width: 10%;
}

.textarea{
    margin: 1.25rem;
    width: -webkit-fill-available;
    
}