.contour{
    margin: var(--space-m);
    border: 1px solid var(--gray-gray-500);
    height: 46px;
    width: 50%;
    border-radius: 5px;
}
h2, h1{
    margin:var(--space-m)
}
.button{
    margin:var(--space-m);
    background-color: var(--color-primary);
    border-radius: 6px;
    border-color: var(--white);
    color: var(--white);
    width: 40%;
    height: 46px;
    font-family: Quicksand;
    font-size: 18px;
}

:placeholder-shown{
    height: 23px;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}