:placeholder-shown{
    height: 23px;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}
input{
    flex-grow: 0;
    padding: 0.75rem 14.64rem 0.68rem 1.25rem;
    border-radius: 5px;
    border: solid 1px var(--gray-gray-500);
    background-color: white; 
    max-width: 14.75rem;
    margin-bottom: 2rem;
  }

  h2{
    margin-top:3rem;
  }

label{
  color: black;
  font-weight: bold;
}

.button{
  width: 18rem;
  margin: 1rem 0 5rem 0;
}
  
