.contour{
    margin: var(--space-m);
    border: 1px solid var(--gray-gray-500);
    height: 46px;
    width: 50%;
    border-radius: 5px;
}
:placeholder-shown{
    height: 23px;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}
input{
    flex-grow: 0;
    padding: 12px 234.3px 11px 20px;
    border-radius: 5px;
    border: solid 1px black;
    background-color: white;
  }

  h2{
    margin-top:3rem;
  }

  
