.text{
    padding: 1rem;
}

.container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.625rem;
}

.image {
    border-top-left-radius: var(--cardborderradius);
    border-top-right-radius: var(--cardborderradius);
}

.cartform {
    width: 10rem;
}
