.container{
    width: auto;
    height: 187px;
    margin: 20px;
    padding: 20px 20px 20px;
    background-color: white;
}
.rating{
    font-weight: 600;
}
.userName{
    display: flex;
}
.date{
    margin: 0 16px 15px 662px;
}
.user{
    margin: 0 150px 15px 0;
}
