.container{
    width: auto;
    padding: 20px 20px 20px;
    background-color: white;
}
.rating{
    font-weight: 600;
}
.comment{
    display: flex;
}

.name{
    padding-right: 4rem;
}
.date{
    margin: 0 1rem 0.93rem 52rem;
    }
p{
    color:black;
}
