.search{
    display: grid;
    grid-template-columns: 4fr 1fr;
    border-radius:5px;
    padding:1rem 0 1rem 0;
}

:placeholder-shown{
    padding-left: 1rem;
    text-align: left;
    line-height: 40px;
    font-size: 18px;
    margin: 1px 57px 0 0;
}
.order{
    border-radius: 5px;
}